<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.openehealth.ipf" level="debug" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.hibernate" level="fatal" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>